.dashboard {
  margin: 5rem 0;
  min-height: 100vh;
  
  .header {
    .profile-image {
      width: 100%;
    }

    .display-name {
      padding: 0.25rem;
    }
    
    .options {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;

      button {
        &.settings-button {
          background-color: transparent;
          padding: 0.25rem;
          i {
            color: black;
          }
        }
      }
    }
  }
}

@import '_settings.scss';
@import '_login.scss';
