form {
    display: flex;
    flex-direction: column;
    width: 100%;

    table {
      border-spacing: 0.75em;

      td {
        display: flex;
        justify-content: center;
        gap: 0.5rem;
        flex-wrap: wrap;
      }

      tfoot {
        td {
          button {
            margin: auto;
          }
        }
      }
    }
  }