main.login {
  min-height: 100vh;
  justify-content: center;

  .flex-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100vw;

    .email-pass {
      gap: 0.75rem;

      form.login-card {
        display: flex;
        flex-direction: column;
        width: 100%;
      }
    }

    .actions {
      gap: 1rem;
      .login-button {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        width: 18rem;
        text-align: left;

        svg {
          width: 3rem;
          height: auto;
          padding: 0.5em;
        }

        &.apple {
          svg {
            color: white;
          }
        }

        h3 {
          width: 100%;
          letter-spacing: unset;
        }
      }
    }

    .email-pass,
    .actions {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}
