main.login {
  .flex-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    width: 100vw;

    .login.card {
      padding: 0.5rem;
      min-width: 17.5rem;

      form {
        display: flex;
        flex-direction: column;
        width: 100%;

        table {
          border-spacing: 0.75em;

          tfoot {
            td {
              button {
                margin: auto;
              }
            }
          }
        }
      }
    }

    .actions {
      display: flex;
      flex-direction: column;
      gap: 0.75rem;

      .login-button {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        width: 18rem;
        text-align: left;

        svg {
          width: 3rem;
          height: auto;
          padding: 0.5em;
        }

        &.apple {
          svg {
            color: white;
          }
        }

        h3 {
          width: 100%;
          letter-spacing: unset;
        }
      }
    }
  }
}
