.about{
  section{
    margin-top: 0;
    min-height: fit-content;
  }
}

.about-where {
  text-align: center;
}

.about-where {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .about-where.card {
    position: relative;
    overflow: hidden;
    height: 50vh;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.mission-statement-card.card {
  flex-direction: row;
  align-items: flex-start;
  padding: 0.375em;
  width: fit-content;
  background-color: black;

  h4 {
    letter-spacing: 0;
    margin-right: 0;
    color: white;
  }
}

.office-hours-card.card {
  table {
    thead{
      background-color: black;
      color: white;
    }
  }
}