section.founder {
  margin-top: 0;
  min-height: fit-content;

  section.portfolio {
    margin-top: 0;
    min-height: fit-content;
  }
}

main.founder {
  justify-content: start;
  padding-top: 3rem;
  min-height: fit-content;
}
