.options {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.75em;
  }
  
  .login.card {
    padding: 0.5rem;
    min-width: 17.5rem;
  
    form {
      display: flex;
      flex-direction: column;
      width: 100%;
  
      table {
        border-spacing: 0.75em;
      }
    }
  }
  