.account-management .account-management-delete {
  display: none;
}

.account-management .account-management-delete .delete-account {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}