.password-management {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.password-management h2,
.password-management h3,
.password-management h4 {
  margin: 0;
  padding: 0.25rem 0;
}

.password-management .account-details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: white;
}

.password-management .account-details .account-ids {
  display: flex;
  gap: 1rem;
}

.password-management .account-details .account-codes {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.password-management .account-details .account-ids .account-id,
.password-management .account-details .account-ids .provider-given-id,
.password-management .account-details .account-email,
.password-management .account-details .password,
.password-management .account-details .account-codes .activation-code,
.password-management .account-details .account-codes .confirmation-code,
.password-management .account-details .phone {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.password-management .find-auth {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}
