.session-management {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: calc(100vw - 160px);
}

.session-management h2,
.session-management h3,
.session-management h4 {
  margin: 0;
  padding: 0.25rem 0;
}

.session-management .options {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
