.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.75rem;
  height: fit-content;
  max-width: 1000px;
  padding: 0.75rem;
  text-align: center;
  opacity: 0.85;
}

.card {
  box-shadow: var(--seven-tech-card-shadow);
  border-radius: var(--seven-tech-border-radius);
}

.card.login-card,
.card.signup-card,
.card.reset-card {
  max-width: 30rem;
}
