.status-bar.card {
  background-color: var(--seven-tech-color-info);
  &.info {
    background-color: var(--seven-tech-color-info);
  }
  &.caution {
    background-color: var(--seven-tech-color-caution);
  }
  &.error {
    background-color: var(--seven-tech-color-error);
  }
  &.success {
    background-color: var(--seven-tech-color-success);
  }
  span {
    color: var(--seven-tech-color-primary);

    h4 {
      padding: 0.5em;
    }
  }
}
